"*":
  welcome:
    showOnStartup: false
  core:
    packagesWithKeymapsDisabled: [
      "git-plus"
      "git-history"
      "highlight-line"
      "multi-cursor"
      "regex-railroad-diagram"
    ]
    disabledPackages: [
      "exception-reporting"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    showInvisibles: true
    scrollPastEnd: true
  "ide-haskell":
    onSaveLint: false
    closeTooltipsOnCursorMove: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
    enableBackgroundColor: false
  "autocomplete-python":
    useSnippets: "required"
  "autocomplete-plus":
    confirmCompletion: "tab"
    autoActivationDelay: 0
    backspaceTriggersAutocomplete: true
  "highlight-selected":
    highlightBackground: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
