"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "exception-reporting"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    showInvisibles: true
  "ide-haskell":
    onSaveLint: false
    closeTooltipsOnCursorMove: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
