apiary:
  title: "apiary"
  paths: [
    "/Users/philopon/mysrc/Haskell/apiary"
    "/Users/philopon/mysrc/Haskell/web-routing"
  ]
"bytestring-read":
  title: "bytestring-read"
  paths: [
    "/Users/philopon/mysrc/Haskell/bytestring-read"
  ]
haddocset:
  title: "haddocset"
  paths: [
    "/Users/philopon/mysrc/Haskell/haddocset"
  ]
"atom-haskell-indent":
  title: "haskell-indent"
  paths: [
    "/Users/philopon/github/haskell-indent"
  ]
